<head>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Zilla+Slab:300" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<div class="card mb-3">
   <div class="card-headerwhite">
       <h2>How to ace undergrad: 5 helpful tips</h2>
   
      <h5>April 25, 2020 by Shantiuna Sanchez</h5>
      <h5><span class="label label-success" style="background-color: pink" >#Finesseundergrad</span></h5><br>
 </div>
 
 
  <div class="card-body">
    <div class="media">
      <div class="media-body">
        <p class="card-text">
          <img src="https://kpux3w.by.files.1drv.com/y4pPf3Wa7D8fvfc8eqmtcQPCyyIE-eKNL0V_3dDONxK91vnKzx6biM42iI_LiaaTKKlOQjr4RaFrCaChfIfVLRceRZeLtnLvJx7J_bz4g6oCumYmQ3kKqx-ilj8DEUhvlQvlCzTR6IV9rkNoo29OdneLFJc5Mtwp5DshWzcFOLTQlFOro6zvnIxolvL5wmpgkbWdd0SmKgnG1aDsBFOy3M6kwm30fUV9sIDJYg56AohL94/Blog1.gif?download&psid=1" width="418" height="360" class="center" />
          <br>
     Coming in from high school can be scary. Here's what helped me ......
     I was very nervous going into my freshman year in college. I still remember how nervous I felt the first night when my parents dropped me off. Being away from home was very hard for me at first. My hometown was only 2 hours away from my school but there were still many adjustments that I had to make.  Here are 5 things that helped me get through that difficult time: 
     <br>
   
<br><h6><strong>1. <em> Make friends</em> </strong></h6><br>

9/10 there is someone else in the same boat as you. Find that person and stick with them! <br>

<br><h6><strong>2. <em>Print out your intended major's curriculum</em></strong></h6><br>

A lot of times freshmen are paired with advisors who don't know much about the different requirements across the university. Keep track of your courses on your own so that you don't waste time taking unnecessary classes! <br>

<br><h6><strong>3. <em> Create a connection with as many of your professors as possible!</em></strong></h6><br>

Not only for homework or classwork purposes but somewhere down the line in your collegiate career you may need a recommendation. Use your professors as resources!<br>

<br><h6><strong>4. <em> Get help preparing your resume and attend career fairs </em></strong></h6><br>

There is no such thing as "you can't get an internship as a freshman". Recruiters are looking for young minds that are willing to learn. Don't sell yourself short by thinking you have nothing to offer just because you've only been in college for a few months.<br>

<br><h6><strong>5. <em>Get a cute planner and USE IT</em></strong></h6><br>
It can easily become overwhelming with having assignments in all your classes. Use a planner to help you plan your week out so that you can still have some self-care time. 
I personally love Target's planners :)
        </p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3">
   <div class="card-headerwhite">
       <h2>The importance of maintaining mental health in college</h2>
   
      <h5> April 25, 2020 by Da'Mya Campbell</h5>
      <h5><span class="label label-success" style="background-color: pink" >#avoidfreshman15</span><span class="label label-success" style="background-color: pink" >#mentalhealthmatters</span></h5><br>
 </div>
 
  <div class="card-body">
    <div class="media">
      <div class="media-body">
        <p class="card-text">
         <img src="https://kpuw3w.by.files.1drv.com/y4mRIWmESHTa7mVQgWtrESlkHCl4gBhoRdh0W6lLDhI14jLAWKgJJRD0__wnEGpwSiS3oH9ruhp2UyjzTqd5USgnBYpmKmlBzqBn2Cc54nDi76-kmzdaqBxgQj2SNJUOkFIPPl3D9P1S_mNRh3m9vMaN1zz_A0v3OhrLB56qcSIUyIQndKAeGCqQfeC6Cd0DZarGXvDTJQ2fkGX8Fzqn_OKDQ?width=1075&height=864&cropmode=none" width="350" height="300" class="center" />
<br>
    It's no secret that college can be stressful. I personally struggled with finding the perfect balance between focusing on my studies, trying to secure internships, having a social life on campus, and working. In the first semester of junior year, arguably the toughest year in undergrad, I took 18 credit hours of major courses. My mental health took the backseat and my physical health followed suit, I suffered from anxiety and finally gained the infamous freshman 15. Even though I managed to finish the semester with good grades, the fact of the matter is poor mental health can negatively affect academic performance. Here are my top 5 tips on how to maintain good mental health and manage stress:
     <br>
   
<br><h6><strong>1. <em> Get good sleep</em> </strong></h6><br>
Avoid lounging in bed when you aren't sleeping. Create a nighttime routine and stick to it! If you have trouble falling asleep put your phone away and try to meditate. Meditation is great for developing a stress management strategy by helping you become more self-aware about your stressors.
<br>

<br><h6><strong>2. <em>Eat a healthy, balanced diet</em></strong></h6><br>
Eat breakfast! It will improve your memory and concentration throughout the school day. Avoid eating excessive amounts of junk food, it will catch up to you! Lastly, stay hydrated. I carry a Brita water bottle everywhere I go.
<br>

<br><h6><strong>3. <em> Exercise</em></strong></h6><br>
Exercise helps decrease stress, all you have to do is move your body! A great place to start is to walk to class instead of taking campus shuttles or take the stairs instead of the elevator. Also, check to see if your university offers exercise courses like yoga or dance. I took weight training and I loved it especially because I didn't have to worry about how to fit going to the gym into my busy schedule.
<br>

<br><h6><strong>4. <em> Utilize campus counseling services </em></strong></h6><br>
Many colleges offer counseling services to students and most are free! Counseling can be a great way to build a stress management strategy. It can provide a safe, unbiased zone to allow you to gain professional advice and cope with your problems in a healthy way.
<br>

<br><h6><strong>5. <em>Self-care Sundays</em></strong></h6><br>
I like to think of self-care as "deliberately refueling yourself". With that being said, everyone's idea of self-care will differ. I enjoy spending time with friends by having a game night or eating out at one of our favorite restaurants or I enjoy spending time alone by pampering myself with a face mask, lighting a candle, journaling, and then binge-watching Netflix while eating Ben and Jerry's ice cream. It doesn't have to be limited to a particular activity or day, as long as you prioritize time for taking care of you.

        </p>
      </div>
    </div>
  </div>
</div>