.card-body {
 min-height: 100px;
}

.a{color: pink;
}

h2{color:black;
 font-family: 'Karla', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h5{
  color:#5F6368;
  font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;}
    
h6{
  font-size: 25px; 
}    


p.card-text{color: #5F6368;
  font-family: 'Zilla Slab', serif;
    font-size: 20px;
    }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




