<head>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
  </head>


 <div class ="circle">
  <strong> Welcome, ShantiS</strong>
 </div>

<header class="avatar">

   <a href="https://melanin-mogul-diary-3-31.stackblitz.io/">
    <img src="https://kjuv3w.by.files.1drv.com/y4mfr2AFKg9I-UcGgwo2CTGfLYvilcJqzBwaXjngt_p59-N-w50vSE6ZVKOnnX9scdTN-qmdZ6onCP-hW23DCpDIrO_QWJuDI92Hxni0e-QZxdVr_ZszWxGmIpP-U2VgSL4_3LT7rYlDD0p81VUUCu2GnNi_eMnqoBLRNXmLZf7bpZkoQJpv7MB3e9PBsYxfaf683HYFvZ3qvibIIoXFKCD5w?width=192&height=256&cropmode=none" alt="Avatar" class="avatar" >
   </a>
</header>

<nav class="navbar">
<h1>
    Melanin Mogul Blog

  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-blog-april.stackblitz.io">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-about-april.stackblitz.io">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-diary-april.stackblitz.io">Diary
    </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-advice-april.stackblitz.io">Advice
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-contact-april.stackblitz.io">Contact Us</a>
  </li>
  
</ul>
  </h1>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class="navbarfooter">
  <div class="navbar-text">
   Melanin Mogul ♛ 
  </div>
</nav>
