<head>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
  </head>


 <div class ="circle">
  <strong> Welcome Mogul </strong>
 </div>



<nav class="navbar">
<h1>
    Melanin Mogul Blog

  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-blog-april.stackblitz.io">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-about-april.stackblitz.io">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-diary-april.stackblitz.io">Diary
    </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-advice-april.stackblitz.io">Advice
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://melanin-mogul-contact-april.stackblitz.io">Contact Us</a>
  </li>
  
</ul>
  </h1>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class="navbarfooter">
  <div class="navbar-text">
   Melanin Mogul ♛ 
  </div>
</nav>
